
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');





*{
    margin: 0;
    text-decoration: none;
    color: black;
}



html, body {
    max-width: 100%;
    overflow-x: hidden;
}



.bar{
    position: fixed;
   
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, rgba(231,111,0,1) 0%, rgba(255,255,255,1) 100%);

   
    width: 6%;
    height: 100%;
    z-index: 10;
    
}



.inic{
    transition: 2s;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 200px;
    border-radius: 40px;
    width: 80px;
    height: 50px;
    background: #FFF;
}

#teste{
    
    transition: 0.5s;

    font-size: 0px;
    font-family: 'Open Sans', sans-serif; 
    

}

.inic:hover{
    transition: 2s;
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 200px;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    background: #FFF;
}

.inic:hover #teste{
    transition: 1s;

    font-size: 20px;

    color: rgb(0, 0, 0);
}

.es:hover #teste{
    transition: 1.5s;
    font-size: 20px;

    color: rgb(0, 0, 0);
}

.es{
    transition: 2s;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 40px;
    width: 80px;
    height: 50px;
    background: #FFF;
}

.es:hover{
    transition: 1s;
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

    border-radius: 40px;
    width: 120px;
    height: 50px;
    background: #FFF;
}

.co:hover #teste{
    transition: 1s;

    font-size: 20px;

    color: rgb(0, 0, 0);
}


.co{
    transition: 2s;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 40px;
    width: 80px;
    height: 50px;
    background: #FFF;
}

.co:hover{
    transition: 1s;
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

    border-radius: 40px;
    width: 120px;
    height: 50px;
    background: #FFF;
}


.ladoe{
    position: absolute;


    width: 1010px;
    height: 969px;
    z-index: 3;



}
#img{
    transition: 2s;
}
#img:hover{
    transition: 2s;
    transform: scale(1.1);
}

#title{
    margin-left: 200px;
    margin-top: 100px;
    font-size: 99px;
    font-family: 'Open Sans', sans-serif;
}
#title2{
    margin-left: 200px;
    margin-top: -30px;
    font-size: 99px;
    font-family: 'Open Sans', sans-serif;
}

#top{

    margin-left: 200px;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif; 
    
}

#top2{

    margin-left: 200px;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif; 
    
}

#menu{

    
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    
}

.ladod{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-left: 1010px;

    width: 910px;
    height: 969px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(255,169,249,1) 100%);
    z-index: 2;


}

.ini{
    margin-left: 00px;
    display: flex;

}


.java{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -50px;
    width: 400px;
    height: 400px;
    border-radius: 200px;

    background: white;

}
.javaes{
    display: flex;

    margin-top: 350px;
 

    z-index: 2;
}

#java{
    font-size: 99px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(231,111,0,1);
    text-shadow: 
    -5px -5px 5px #FFF, 
    -5px 5px 5px #FFF,                    
     5px -5px 5px #FFF,                  
     5px 5px 5px #FFF;
}

.cir1{
    position: absolute;
    width: 600px;
    height: 600px;
    background: linear-gradient(90deg, rgba(255,102,196,1) 0%, rgba(255,222,89,1) 100%);
    border-radius: 1000px;
    margin-left: 500px;
    margin-top: 550px;
}

.cir2{
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, rgba(255,102,196,1) 0%, rgba(255,222,89,1) 100%);
    border-radius: 1000px;
    margin-left: 9px;
    margin-top: 950px;
}

.cir3{
    
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    margin-left: -990px;
    margin-top: 800px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(250,208,255,1) 100%);

}

.cir4{
    
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    margin-left: -700px;
    margin-top: 850px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(255,169,249,1) 100%);

}

.cir5{
    
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 1000px;
    margin-left: -925px;
    margin-top: 550px;
    background: rgba(255,247,173,1);
    -webkit-animation: translating 30s infinite;

}

.cir6{
    
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 1000px;
    margin-left: -1000px;
    margin-top: -300px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(250,208,255,1) 100%);
    -webkit-animation: translating 20s infinite;

}

.cir7{
    
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    margin-left: 950px;
    margin-top: -30px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(250,208,255,1) 31%);
    z-index: 1;
    -webkit-animation: translating 5s infinite;

}

.cir8{
    
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin-left: -1600px;
    margin-top: 400px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(250,208,255,1) 100%);
    -webkit-animation: translating 15s infinite;

}



.cir9{
    
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin-left: -1200px;
    margin-top: 200px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(250,208,255,1) 100%);
    -webkit-animation: translating 10s infinite;

}

.cir10{
    
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    margin-left: 950px;
    margin-top: 400px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(250,208,255,1) 31%);
    z-index: 1;
    -webkit-animation: translati 10s infinite;
    


}

.cir11{
    
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 1000px;
    margin-left: 950px;
    margin-top: 900px;
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgb(247, 234, 248) 31%);
    z-index: 1;
    -webkit-animation: translatio 10s infinite;
    


}

@-webkit-keyframes translating{
    0% {
        transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
    }
    50%{
        transform: translateX(10%);
        -webkit-transform: translateX(5%);
    }
    100%{
        transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
    }
}

@-webkit-keyframes translati{
    0% {
        transform: translateX(-100%);
  
    }
    50%{
        transform: translateX(-2000%);
    
    }
    100%{
        transform: translateX(-2000%);

    }
}

@-webkit-keyframes translatio{
    0% {
        transform: translateX(-100%);
  
    }
    50%{
        transform: translateX(-7000%);
    
    }
    100%{
        transform: translateX(-7000%);

    }
}



#titleinf{
    margin-left: 200px;
    margin-top: 110px;
    font-size: 69px;
    font-family: 'Open Sans', sans-serif;
}

#titleinf2{
    margin-left: 200px;
    margin-top: -20px;
    font-size: 69px;
    font-family: 'Open Sans', sans-serif;
}

.inf1{

    position: absolute;
    height: 969px;
}

.ops{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 400px;
    margin-top: 100px;
    margin-left: 250px;

    flex-wrap: wrap;
}

.for{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 70px;
    background: #E76F00;
    border-radius: 100px;
    transition: 0.3s;

}

.for:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.for:active {
    background-color: #803e00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.while{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 70px;
    background: #E76F00;
    border-radius: 100px;
}

.while:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.while:active {
    background-color: #803e00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.dowhile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 70px;
    background: #E76F00;
    border-radius: 100px;
}

.for:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.dowhile:active {
    background-color: #803e00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.dowhile:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.for:active {
    background-color: #803e00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#ops{
    color: #FFF;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.frame{
    width: 900px;
    height: 500px;
    
    margin-left: 400px;
    margin-top: 70px;
    background: #E76F00;

    border-radius: 80px;
}

.quadro{
    display: flex;

}


.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }


  .pinguim{
    position: absolute;
    margin-top: -100px;
    margin-left: 1650px;
  }

  .inf1{
    height: 969px;
  }

  .inf2{
    
  }